<head>
  <title>Pictures</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" href="/pictures/assets/style.css">
</head>
<body>
	<h1>Pictures</h1>
	<hr />
	<nav>
		<ul class="navbar">
			<li class="navbar"><a href="https://lunartiger.github.io/contact">Contact Me</a></li>
			<li class="navbar"><a href="https://lunartiger.github.io/projects">My Projects</a></li>
		</ul>
	</nav>
	<hr />
  <hr style="height:20px; visibility:hidden;" />
  {{ content }}
</body>
