<head>
	<title>Pictures</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" href="/pics/assets/style.css">
</head>
<body>
	<h1>Pictures</h1>
	<hr />
	<nav>
		<ul class="navbar">
			<li class="navbar"><a href="/contact">Contact Me</a></li>
			<li class="navbar"><a href="/projects#other">My Projects</a></li>
		</ul>
	</nav>
	<hr />
	<hr style="height:20px; visibility:hidden;" />
	<p><a href="https://github.com/LunarTiger/pics/releases/download/0/pics.zip">Download a .zip of this webpage</a></p>
	<hr style="height:20px; visibility:hidden;" />
	{{ content }}
</body>
